[viewBag]
==
<?php
function onStart()
{
    $this['backendUrl'] = Backend::url('/');
}
?>
==

<div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{{ 'main'|page }}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
           <img src="{{ '/assets/image/SKK-white.svg'|theme}}" alt="">          
        </a>
        {# <img src="{{ '/assets/image/SKK-white.svg'|theme}}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white" alt="">   #}
        {# <h3> {{ user.name }} </h3> #}
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="#" class="nav-link text-white" aria-current="true" data-bs-toggle="modal" data-bs-target="#ChangPWD">
                <i class="header-icon bi bi-person-lock d-block mx-auto mb-1"></i>
              New pass
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white" aria-current="true" data-bs-toggle="modal" data-bs-target="#Users">
                <i class="header-icon bi bi-person-lines-fill d-block mx-auto mb-1"></i>
              Admins
            </a>
          </li>
          <li>
            <a href="{{ 'login'|page }}" class="nav-link text-white" aria-current="true">
                <i class="header-icon bi bi-person-x d-block mx-auto mb-1"></i>
              Deactivate
            </a>
          </li>
          <li>
            <a href="#" data-request="onLogout" data-request-data="redirect: '/'" class="nav-link text-white">
                <i class="header-icon bi bi-box-arrow-right d-block mx-auto mb-1"></i>
              Exit
            </a>            
          </li>
        </ul>
      </div>
    </div>
</div>